# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# App config
/app/config/parameters.yml
/config/parameters.yml
.env.local

# Generated folders
/assets/
/contao-manager/
/system/*
!/system/config/
/system/config/localconfig.php
/system/config/tcpdf.php
/var/
/vendor/
/backups/

# Symlinked resources
/public/assets
/public/bundles/
/public/files/
/public/share/
/public/system/
/public/vendor/

# Skip files
/system/modules/*/.skip

# Nutshell
package-lock.json
/node_modules/
/public/theme/css/*
/public/theme/fonts/*
/public/theme/img/*
/public/theme/js/*
/public/theme/maps/*

# Theme
gulpfile.js
