# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# App config
/app/config/parameters.yml
/config/parameters.yml
.env.local

# Generated folders
/assets/
/contao-manager/
/system/*
!/system/config/
/system/config/localconfig.php
/system/config/tcpdf.php
/var/
/vendor/
/backups/

# Symlinked resources
/web/assets
/web/bundles/
/web/files/
/web/share/
/web/system/
/web/vendor/

# Skip files
/system/modules/*/.skip

# Nutshell
package-lock.json
/node_modules/
/web/files/nutshell
/web/theme/css/*
/web/theme/fonts/*
/web/theme/img/*
/web/theme/js/*
/web/theme/maps/*

# Theme
gulpfile.js
